@import "./../../utils/styles/media.scss";

.WeatherData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    > div:not(:first-child) {
        width: 20%;
        @include respond(phone) {
            width: 100%;
        }
    }
    @include respond(phone) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}

.TextBlock--container {
    margin-right: 2rem;
    @include respond(phone) {
        margin-right: 0;
        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            >p:first-child{
                margin-bottom: 0;
            }
            &:after{
                content: none;
            }
        }
    }
}
