.WeatherData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    > div:not(:first-child) {
        width: 20%;
    }
}

.ExtraInfo {
    p {
        margin: 0.5rem 0;
    }
    .Wind {
        p {
            color: var(--gris2);
            font-weight: 500;
            font-size: 0.8rem;
        }
    }
}

.TextBlock--container{
    margin-right: 2rem;
}
