/* color variables */
body {
  --aside-background: var(--blanco);
  --aside-text: var(--negro);
  --aside-text-active: var(--color-principal);
  --aside-item-active-background: var(--gris4);
  --cerrar-sesion: var(--rosa);
  --main-background: var(--blanco);
  --weather-data-bg: var(--blanco);
  --color-principal: var(--azul);
  --color-error: var(--rojo);
  --color-principal-opacidad: var(--azul2);
  --titles-color: var(--azul);
  --background-color-login: var(--loginBackground);    
  --body-bg: var(--gris);

  --azul: #01A3FF;
  --azul2: #7ac7f3;
  --blanco: #fff;
  --negro: #333;
  --gris: #F5F6FA;
  --gris2:rgb(151, 151, 151);
  --rosa: rgb(245, 19, 141);
  --rojo: rgb(252, 78, 78);
  --naranja: rgb(252, 141, 37);
  --verde: rgb(46, 211, 101);

  --font:'Poppins', sans-serif;
}