.Avatar{
    width: fit-content;
    min-width: 1.7rem;
    min-height: 1.7rem;
    font-size: .8rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}