@import "./../../utils/styles/animations.scss";
@import "./../../utils/styles/media.scss";

.Main {
  -webkit-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease;
  box-sizing: border-box;
  flex: 1 1 83%;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  margin: 8vh 1rem;
  padding: 0 1.5rem;
  overflow: visible;
  @include respond(phone){
    margin-top: 6rem;
    padding: 0;
    h2{
      font-size: 1.3rem;
    }
  }
}