@import "./../../utils/styles/media.scss";

.Home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    > div {
        width: 100%;
    }
    &-WeatherInfo {
        background-color: var(--color-principal);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 4rem 3rem;
        border-radius: 20px;
        width: 100%;
    }
    > div {
        display: flex;
        flex-direction: column;
        &:first-child{
            margin-right: 3rem;
        }
        .Home--Card {
            min-width: 100%;
            height: 100%;
        }
    }
    @include respond(phone){
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}
