@import "./../../utils/styles/media.scss";

.Home {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 4rem 0;
    padding-bottom: 3rem;
    > div {
        width: 100%;
    }
    &-WeatherInfo {
        background-color: var(--color-principal);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 4rem 3rem;
        border-radius: 20px;
        width: 25%;
    }
    > div {
        display: flex;
        .Home--Card {
            min-width: 75%;
            margin-left: 2rem;
        }
    }
    @include respond(phone){
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
        >div:nth-child(1n){
            order: 1;
        }
        >div:nth-child(2n){
            order: 3;
        }
        >div:nth-child(3n){
            order: 2;
        }
        >div:nth-child(4n){
            order: 4;
        }
    }
}
