
@import "./../../utils/styles/media.scss";

.Proviciones--container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    width: 90%;
    .noProvisionsText{
        font-size: 1.5rem;
    }
    &:hover {
        .Card {
            opacity: 0.5;
            &:hover {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                opacity: 1;
            }
        }
    }
    @include respond(phone){
        width: 100%;
    }
}