@import "./../../../utils/styles/media.scss";

.Input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    h2 {
        margin-bottom: 0.5rem;
        font-weight: 300;
    }
    input {
        font-family: var(--font);
        border: none;
        resize: none;
        background: white;
        padding: 1rem;
        border-radius: 18px;
        font-size: 0.9rem;
        transition: 400ms all;

        &:focus {
            outline: none;
        }
        &::placeholder {
            color: var(--gris2);
            font-size: 0.8rem;
        }
        &:hover, &:focus {
            box-shadow: 3px 4px 11px -6px rgba(0, 0, 0, 0.27);
            transition: 400ms all;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            @include respond(phone){
                transform: none;
            }
        }
    }
   
}
