.Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 2rem;
    font-size: .7rem;
    position: relative;
    width: fit-content;
    h1, h2, h3, h4{
        margin-bottom: .3rem;
        font-weight: 600;
    }
    &::after{
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 0;
        background: var(--azul);
        border-radius: 50px;
        clip-path: inset(0px 3.5rem 0 0.8rem round 5px)
    }
}