.Card{
    background: var(--main-background);
    border-radius: 20px;
    min-width: 100%;
    width: fit-content;
    padding: 2rem 3rem;
    position: relative;
    transition: 400ms all;
    min-height: 12rem;  
    box-shadow: 2px 1px 19px -2px rgba(1,163,255,0.06);
    cursor: pointer;
    &:hover{
        transition: 400ms all;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.addCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: 400ms all;
    display: flex;
    flex-direction: column;
    span{
        font-size: 5rem;
        line-height: 1;
        font-weight: 100;
        color: var(--color-principal);
    }
}