@import "./utils/styles/font.scss";

body {
  margin: 0;
  font-family: $font;
  background: var(--body-bg);
  color: var(--negro)
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-principal);
  border-radius: 10px;
}

.react-datepicker-wrapper{
  width: 100%;
}

@media screen and (max-width: 720px) {
  body {
    min-width: unset;
    /* height: 100vw; */
    /* position: fixed; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
